.searchInput{
    width:150px;
    height: 25px;
    margin: 0 auto;
    margin-top: 10px;

}
.searchBtn{
    width: 30px;
    height: 23px;
    font-size: 10px;
    margin: 0 auto;
    margin-top: 10px;
}