* {
    margin: 0; /* 마진 리셋 */
    padding: 0; /* 패딩 리셋 */
  }
  
  body {
    display: block;
  }
  
li {
    display: inline-block;
  }

  .mainMiddle {
    width: 100%;
    height: 50%;
  }
  
  /* ----------------------------------------------------가이드 메뉴-------------------------- */
  
  .guideMenu {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .guideMenu li {
    font-size: 25px;
    font-weight: bold;
    color: gray;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  
  .guideMenu .g1,
  .guideMenu .g2,
  .guideMenu .g3,
  .guideMenu .g4 {
    cursor: pointer;
    transition: transform 300ms ease;
  }
  
  .guideMenu .g1:hover,
  .guideMenu .g2:hover,
  .guideMenu .g3:hover,
  .guideMenu .g4:hover {
    transform: scale(1.1);
  }
  
  /* ------------------------------------------------상품 이미지-------------------------- */
  #mainImage {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mainImage img {
    width: 50%;
    height: 80%;
  }
  /* ------------------------------------------------상품 사이즈 표--------------------------------------- */
  #sizeInfo {
    width: 100%;
    height: 30%;
  }
  
  .head {
    height: 40px;
    border-bottom: 1px solid gray;
  }
  
  .head1 {
    background-color: rgb(53, 50, 50);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    box-shadow: 1px gray;
  }
  .head2 {
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .cm {
    height: 60px;
  }
  .cm li {
    float: right;
    margin-right: 150px;
    margin-top: 30px;
    font-weight: bold;
    color: gray;
  }
  
  .sizeInfo table {
    border: 1px solid white;
    text-align: center;
    height: 300px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
  }
  .sizeInfo th {
    background: #e8e6e8;
  }
  .sizeInfo tr,
  td {
    background: #f7f5f7;
  }
  .sizeInfo td {
    width: 200px;
  }
  /* -----------------------------------------------상품 디테일----------------------------------- */
  .detail {
    width: 100%;
    height: 25%;
  }
  
  .table2 {
    max-width: 100%;
    height: 300px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .table2 tr td {
    width: 30%;
    min-width: 70%;
    border-bottom: 1px solid gray;
    background: white;
  }
  
  .table2 .t1 {
    width: 15%;
    border-right: 2px solid gray;
    box-shadow: 1px 1px 1px 1px gray;
    background: #f7f5f7;
    text-align: center;
  }
  